{
  "nyc": {
    "check-coverage": true,
    "per-file": true,
    "lines": 99,
    "statements": 99,
    "functions": 99,
    "branches": 99,
    "include": [
      "src/**/*.js", "./index.js"
    ],
    "exclude": [
      "test/*.js"
    ],
    "reporter": ["lcov", "text-summary"],
    "cache": true,
    "all": true,
    "report-dir": "./coverage"
  }
 }
